stages:
  - Lint
  - Build Packages
  - Build Images
  - Release

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "trigger"'

Lint:
  stage: Lint
  image: amazoncorretto:11-al2023
  script:
    - ./gradlew checkStyleMain checkStyleTest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
  artifacts:
    paths:
      - "**/build/reports/checkstyle/*.html"
    when: always

Ensure Latest Java Compat:
  stage: Lint
  image: amazoncorretto:22-al2023
  script:
    - ./gradlew compileJava
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'

Build Packages:
  stage: Build Packages
  image: amazoncorretto:11-al2023
  script:
    - dnf install -y python3-pip findutils
    - pip3 install requests
    - python3 release/release.py --publish --repo $CI_PROJECT_DIR
  rules:
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
  artifacts:
    paths:
      - appian-selenium-api/build/RELEASE-FILES/**/*
      - cucumber-for-appian/build/RELEASE-FILES/**/*
      - fitnesse-for-appian/build/RELEASE-FILES/**/*
    reports:
      dotenv: variables.env

Build Images:
  image: docker:latest
  stage: Build Images
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    IMAGE_NAME: appian-selenium-api
    IMAGE_TAG: $PACKAGE_VERSION
  before_script:
    - apk add --no-cache curl
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - cd docker
    - 'curl -f --header "JOB-TOKEN: $CI_JOB_TOKEN" "https://gitlab.com/api/v4/projects/appian-oss%2Fappian-selenium-api/packages/generic/FCS/$PACKAGE_VERSION/fitnesse-for-appian.zip" -o fitnesse-for-appian.zip'
    - 'curl -f --header "JOB-TOKEN: $CI_JOB_TOKEN" "https://gitlab.com/api/v4/projects/appian-oss%2Fappian-selenium-api/packages/generic/FCS/$PACKAGE_VERSION/cucumber-for-appian.zip" -o cucumber-for-appian.zip'
    - docker build -t "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$IMAGE_TAG" . --build-arg="VERSION=$PACKAGE_VERSION"  --build-arg="TOKEN_TYPE=JOB-TOKEN" --build-arg="GITLAB_TOKEN=$CI_JOB_TOKEN" --build-arg="USERNAME=user.admin" --build-arg="PASSWORD=ineedtoadminister"
    - docker push "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$IMAGE_TAG"
    - docker tag "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$IMAGE_TAG" "$CI_REGISTRY_IMAGE/$IMAGE_NAME:latest"
    - docker push "$CI_REGISTRY_IMAGE/$IMAGE_NAME:latest"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "trigger"'

Create Release:
  stage: Release
  image: registry.gitlab.com/gitlab-org/cli:latest
  script:
    - echo "Running the release job."
  release:
    tag_name: $PACKAGE_VERSION
    description: 'Release of appian-selenium-api'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "trigger"'
    - when: never
