**/.env
**/.idea
**/.gradle
**/coverage.xml
**/build/
**/*.log
**/*.mp4
**/*.png
**/*.DS_Store
**/__pycache__/**/*
examples/**/lib/*
examples/**/configs/*
**/.vscode
**/poetry.lock
**/bin/
docker/cucumber/
docker/downloads/
docker/FitNesseRoot/
docker/screenshots/
**/cucumber-for-appian.zip
**/fitnesse-for-appian.zip