version: "3"
services:
  fitnesse:
    build:
      context: .
      args:
        USERNAME: ${USERNAME}
        PASSWORD: ${PASSWORD}
    ports:
      - "8980:8980"
    volumes:
      - ${SCREENSHOTS_DIR:-./screenshots}:/opt/appian-selenium-api/screenshots
      - ${DOWNLOADS_DIR:-./downloads}:/opt/appian-selenium-api/downloads
      - ${FITNESSEROOT_DIR:-./FitNesseRoot}:/opt/appian-selenium-api/FitNesseRoot
      - ${CUCUMBERTEST_DIR:-./cucumber}:/opt/appian-selenium-api/cucumber
    depends_on:
      - selenium
    networks:
      - fcsnet

  selenium:
    image: selenium/standalone-${BROWSER:-chromium}:latest
    ports:
      - "4444:4444"
    networks:
      - fcsnet

networks:
  fcsnet:
    driver: bridge
